<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{/patients/create}" th:object="${patient}" method="post">
    <label>Имя: <input type="text" th:field="*{name}" required></label><br>
    <label>Дата рождения: <input type="date" th:field="*{birthDate}" required></label><br>
    <label>Адрес: <input type="text" th:field="*{address}" required></label><br>
    <label>Телефон: <input type="text" th:field="*{telephoneNumber}" required></label><br>
    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>