<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация пациента</title>
    <link rel="stylesheet" href="/css/patients/create.css">
    <script src="https://unpkg.com/imask"></script>
</head>
<body>
<div class="container">
    <h1>Регистрация пациента</h1>
    <p id="message" class="message"></p>
    <form id="patientForm" action="/patients/create" method="POST">
        <div class="form-group">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="birthDate">Дата рождения:</label>
            <input type="date" id="birthDate" name="birthDate" required>
        </div>

        <div class="form-group">
            <label for="address">Адрес:</label>
            <input type="text" id="address" name="address" required>
        </div>

        <div class="form-group">
            <label for="phone">Телефон:</label>
            <input type="tel" id="phone" name="telephoneNumber" placeholder="+7 (___) ___-__-__" required>
        </div>

        <button type="submit">Зарегистрировать пациента</button>
    </form>
</div>
<script src="/js/patients/create.js"></script>
</body>
</html>