<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
</head>
<body>
<div class="container">
    <div class="login-box">
        <h2>Вход в систему</h2>
        <div id="error-message" class="error-message"></div>

        <form id="login-form" action="/login" method="post">
            <div class="form-group">
                <label for="Login">Логин</label>
                <input type="text" name="username" id="Login" required>
            </div>

            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" name="password" id="password" required>
            </div>

            <button type="submit" class="btn btn-primary">Войти</button>
        </form>

        <div class="register-form">
            <p class="register-text">Нет аккаунта? <a href="/register" class="register-link">Зарегистрироваться</a></p>
        </div>
    </div>
</div>
<script th:src="@{/js/login/login.js}"></script>
</body>
</html>