<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
    <form th:action="@{/login}" method="post">
        <h4 style="color: green" th:if="${message}" th:text="${message}"></h4>
        <h4 style="color: red" th:if="${error}" th:text="${error}"></h4>
        <label for="username">Username
            <input type="text" name="username" id="username">
        </label><br/>

        <label for="password">Password
            <input type="password" name="password" id="password">
        </label><br/>
        <button type="submit">Войти</button>
    </form><br/>

    <form action="/register" method="get">
        <button type="submit">Регистрация</button>
    </form>


</body>
</html>
