<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Client:</h1>
    <p>Имя: <span th:text="${patient.name}"></span></p>
    <p>Дата рождения: <span th:text="${patient.birthDate}"></span></p>
    <p>Адрес: <span th:text="${patient.address}"></span></p>
    <p>Телефон: <span th:text="${patient.telephoneNumber}"></span></p>
<a href="/patients"><button>Вернутся</button></a>
</body>
</html>